
/*-----------------------------------全局默认样式表---------------------------------*/
*{box-sizing: border-box;}
body{
    height:100%;
    width:100%;
    margin:0; 
    padding:0;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
}
#header{
    display:-webkit-flex;
    -webkit-justify-content:  space-between;
    position: fixed;
    width:100%;
    top:0;
    /*background: #3f5367;*/
    background: #f2f2f2;
    color:#8a8a8a;
    height: 40px;
    line-height: 40px;
    padding:0 3rem;
    z-index: 999;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    transition: background-color 0.3s ease-in-out;

    .fa{
        cursor: pointer;line-height: 45px;
        &:hover{
            -webkit-transform: scale(1.2)
        }
    }

    .place-right{
        display:-webkit-flex;
        width:18%;
        -webkit-justify-content:space-between;
    }
}
// #header .fa{cursor: pointer;line-height: 45px;}
// #header .fa:hover{-webkit-transform: scale(1.2)}
// #header .place-right{display:-webkit-flex;width:18%;-webkit-justify-content:space-between;}

#main{width:100%;font-size:15px;position: absolute;overflow: auto;top:40px;bottom:40px;}
input,.textarea,[contenteditable],select{outline: none;transition: all .3s; -webkit-transition: all .3s;}

p{line-height: 1.6em;}
::-webkit-scrollbar{
    width: 10px;
    background-color: #2c3e50;
}

::-webkit-scrollbar-track{
    background: #f5f5f5;
}
::-webkit-scrollbar-thumb{
    background:rgb(207, 207, 207);
}

/*-----------------------------------页面主章节样式表---------------------------------*/

.chapter{display: none;padding:2rem 5rem}
.form{margin:3em 0em;}


h2{text-align: center;}

h3 {
    margin: 45px 0 0.8em;
    padding-bottom: 0.7em;
    padding-left:1.5em;
    position:relative;
}

h3:before {
    content:'';
    display: block;
    height:48px;
    margin-top: -48px;
}
h3:after{
    font-family:"iconfont" !important;
    font-size: 20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left:0;
    bottom: 13px;
    position: absolute;
}
h3.form-title:after{
    content: "\e607";
}


h4{text-align: center;}

/*-----------------------------------<table>样式表---------------------------------*/
table{width:100%;position:relative;table-layout:fixed;border-collapse:collapse;margin:auto;}
/* table caption{border:2px solid #337ab7;border-bottom:none;} */
table tr{height:40px;}
table td:not([contenteditable]),table tr th{background: #f2f2f2;font-weight: 400;color:#666;}
/* table tr:hover{background: #f2f2f2} */
table .hoverTr,tr:hover{background: #f2f2f2} 
table tr.hoverTr.make td:first-child{background: #f2f2f2}
table td,table th{word-break:break-all;border:1px solid #e6e6e6;text-align: center;padding: 0.5em;}

table.data-in-out td{text-align: left;}

table.editable th:first-of-type {width:80px}

/*table跟laydate有冲突，专门设置laydate样式*/
.layui-laydate-content tr{height: 30px;}
.layui-laydate-content th,
.layui-laydate-content td{border:none;background:#fff!important;}


input.line{border:none;border:0;outline:none;border-bottom: 1px solid #000;padding:0 0.3em;width:150px;color:blue;}
input.line.mid{width:4em;}
input.line.min{width:2em;}
input.line.small{border:none;border:0;outline:none;border-bottom: 1px solid;width:2em;}
input.td{border:none;border:0;outline:none;padding:0;margin:0;width:88%;}
input,.textarea{padding:10px;font-size: 15px;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"}
table input.line{background:#f2f2f2}


.main-title{margin:0 12% 0 8%;padding-bottom: 0.5em;border-bottom: 1px solid #ddd}
.warn{color:red;}
p.tip{
    text-align:left;
    border-left-color:#f66;
    padding: 10px 16px 10px 23px;
    margin: 2em 0 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color:#9e9e9e;
}
p.tip:before {
    content: "!";
    background-color: #f66;
    position: absolute;
    top: 25%;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}
h4~p.tip{
    margin:0;
 /*.indent{text-indent:2em;} */
}
/* .panel{padding:1em 8em;margin:auto;} */

/* .panel table{width:100%;margin-top:3%;} */
.sections > div,.sections > table{margin:3em 0;}
/* .paras > p{text-indent:2em;} */
/* .note{text-indent:2em;padding:0.5em;border:2px solid #337ab7;border-top: none} */
 .left{text-align: left}
 /* textarea.area{width:100%;height:7em;} */

/* .sys-basic-rearch{padding:0 2em;} */
.sys-basic-rearch > div{margin:1.5em 0;}
.sys-basic-rearch > div > p{margin:0.5em 0 0.5em 2em;}
.sys-basic-rearch > div > p:first-child{margin-left:0;}


/*table .hover{border:2px solid red;}*/

caption h3{text-align: left}
.form.items input.line{width:170px;}
/* .form-panel.finished{border-color:#62AD44;}
.form-panel.finished .form-title{background:#62AD44;} */
/*.form .row{margin:0 auto;}*/


/*-----------------------------------<textarea>样式表---------------------------------*/
.textarea{color:blue;height:120px;width:100%;resize:none;border-radius: 2px;border:1px solid #e6e6e6;overflow: auto;}


/* td.filling{padding:0;} */
td[contenteditable]{color:blue;cursor:default}
td[contenteditable]:focus{cursor:text;box-shadow: 1px 1px 20px rgba(0,0,0,.15);background: white}

span[contenteditable]{cursor:text;display:inline-block;min-width: 100px;color:blue;border-bottom:1px solid rgb(99, 99, 99);padding:0 0.5em;}
span.short{min-width:60px;}
span.long{min-width:200px;}
span[contenteditable]:empty:before{
    content: attr(placeholder);
    color:blue;
}

input{
    color:blue;
}


.opacity{opacity:0.5;}


.label-input{
    display:-webkit-flex;
    margin-bottom: -1px;
}
.label-input label{
    padding:10px 15px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px 0 0 2px;
    text-align: center;
    background-color: #FBFBFB;
    white-space: nowrap;
    border-color: #e6e6e6
}
.label-input input,
.label-input select,
.label-input option{
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
    border-color:#e6e6e6;
    width: 100%;
    padding-left: 10px;
    border-left:none;
    height:100%;
    -webkit-flex:1;
}

.label-inputs{
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -webkit-flex-wrap: wrap;
    width:100%;
}
.label-inputs .label-input{
    width:48%;
}
.label-inputs.collapse .label-input{
    width:50%;
}
.label-inputs.collapse .label-upload,
.label-inputs.collapse .textarea{
    border-left: none;
    height: 100px;
    -webkit-flex:1;
}
.label-inputs.collapse .label-input:nth-of-type(2n)>label{
    border-left: none;
}
.label-inputs.collapse .full{width:100%}


 label.radio,label.checkbox{
     padding-right:12px;
     cursor:pointer;
     /* white-space:nowrap; */
}

 label.radio::before,
 label.checkbox::before{
    padding-right: 5px;
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label.radio:hover::before,
 label.checkbox:hover::before{
    color:#42b983;
 }
label.radio::before{content: "\e641";}
label.checkbox::before{content: "\e62e";}

label.radio.checked::before{
     content: "\e71f";
     color:#42b983;
     font-weight: bold;
 }
 label.checkbox.checked::before{
    content: "\e72a";
    color:#42b983;
 }

 .fa-minus-square{
     font-size: 16px;
     cursor: pointer;
     color:#f9abab;
     
 }
 .fa-minus-square:hover{
    color:red;
 }
 .fa-plus-square{
    font-size: 16px;
    cursor: pointer;
    color:#a5efcd;
}
.fa-plus-square:hover{
    color:#42b983;
 }

 

 table .refreshTable{
    position: absolute;
    top:48%;
    left: -40px;
    font-size: 20px;
    color: #42b983;
    cursor: pointer;
 }

 .autoTable .autoVal{
    color:blue;
 }

 caption{padding:1px;}

.hover-effect{
    cursor:pointer;
}
.hover-effect:hover{
    color:#000;
}


[info]{
    cursor:help;
}
[info]:after{
    content:"\f129";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    padding-left: 5px;
    font-size: 16px;
    color: #3595CC;
    vertical-align: baseline;
    -webkit-font-smoothing:antialiased;
}



.input-error{
    background:rgba(255, 0, 0, 0.8)!important;
}

.must:after{
    content:'*';
    color:red;
    font-size:20px;
    position: absolute;
    padding:0 6px;
}
